<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<p>Hello, <%- name %>, thank you for registering with NurseAssist.</p>
	<p>Confirm your email address to have full access to NurseAssist.</p>
	<p>Your confirmation code is: <%- code %></p>
	<p>Regards, </p>
	<p>The NurseAssist Team</p>
</body>
</html>
