<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<p>Thank you for subscribing for NurseAssist.</p>
	<p>Regards, </p>
	<p>The NurseAssist Team</p>
</body>
</html>
